<!-- Header Section -->
<!-- Slider Section -->
<!-- ここ！ -->

<!-- Slider Section -->
<!-- Service Section -->
<section id="services" class="section services">
  <div class="container-fluid">
    <div class="row">
      <div class="services-content">
        <h4>Keita Matsushita .</h4>
        <p>Welcome to my portfolio site</p>
      </div>
      <div class="services-links">
        <ul class="my-links">
          <li><a href="https://medium.com/@keita_matsushita" target="blank">My Story</a></li>
          <li><a href="http://keita-matsushita.hatenablog.com/" target="blank">Engineering Blog</a></li>
          <li><a href="https://github.com/keitin" target="blank">Github</a></li>
          <li><a href="http://qiita.com/kinopontas" target="blank">Qiita</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Service Section -->


<!-- ここ -->






<!-- portfolio grid section -->
<section id="portfolio" class="section portfolio">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="https://medium.com/@keita_matsushita/cookpad%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%83%E3%83%97%E3%81%AB%E5%8F%82%E5%8A%A0%E3%81%97%E3%81%A6%E3%81%8D%E3%81%BE%E3%81%97%E3%81%9F-2af4e0cbbb2#.kpj6ipw9o" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>オイシー</h3>
            <h4>Cookpad summer insternship 2016 最優秀賞</h4>
          </div>
        </div>
        <img src="<%= asset_path("oici.png") %>" class="img-responsive" alt=""> </a>
      </div>

      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="https://www.youtube.com/watch?v=RSlSDWfxsUo&feature=youtu.be" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>SUN LIGHT</h3>
            <h4>太陽を模した明かり</h4>
          </div>
        </div>
        <img src="<%= asset_path("sunlight.png") %>" class="img-responsive" alt=""> </a>
      </div>

      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="https://itunes.apple.com/us/app/broccoli-su-dina-mei-riwo/id1124392702?l=ja&ls=1&mt=8" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>broccoli - ブロッコリー</h3>
            <h4>素敵な毎日を投稿しよう</h4>
            <h4></h4>
          </div>
        </div>
        <img src="<%= asset_path("broco2.png") %>" class="img-responsive" alt=""> </a>
      </div>

      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="http://blog.tech-camp.in/?p=665" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>秒恋</h3>
            <h4>あなたは２秒で恋人ができる。</h4>
            <h4>審査員賞受賞 審査員：桂 大介（株式会社リブセンス 取締役)</h4>
          </div>
        </div>
        <img src="<%= asset_path("byokoi2.png") %>" class="img-responsive" alt=""> </a>
      </div>

      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="https://damp-refuge-5914.herokuapp.com/" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Dretter</h3>
            <h4>ツイートする度にアカウントが入れ替わる。</h4>
          </div>
        </div>
        <img src="<%= asset_path("dretter1.png") %>" class="img-responsive" alt=""> </a>
      </div>
      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="http://www.media-design.jp/lab/index.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Interactive manequin</h3>
            <h4>交感するマネキン</h4>
          </div>
        </div>
        <img src="<%= asset_path("manequin.png") %>" class="img-responsive" alt=""> </a>
      </div>
      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="http://www.media-design.jp/lab/_userdata/futureimages/lovable_taito_mydear_tokyo.pdf" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>恋する台東 愛する東京 展</h3>
            <h4>LAVABLE TAITO MY DEAR TOKYO</h4>
          </div>
        </div>
        <img src="<%= asset_path("taitou.png") %>" class="img-responsive" alt=""> </a>
      </div>
      
      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="blank" href="https://speakerdeck.com/keitin/wu-yin-liang-pin-false-ledraitosensa-wofen-jie-sitemita" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>無印良品を分解してみた。</h3>
            <h4>MUJI</h4>
          </div>
        </div>
        <img src="<%= asset_path("muji.png") %>" class="img-responsive" alt=""> </a>
      </div>
      <div class="col-sm-12 col-md-4 portfolio-item"> <a target="" href="/homes/2" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>人を集める照明 </h3>
            <h4>LAB. to Relax</h4>
          </div>
        </div>
        <img src="<%= asset_path("lightWall.png") %>" class="img-responsive" alt=""> </a>
      </div>
    </div>
  </div>
</section>
<!-- portfolio grid section -->




<!-- footer section -->
<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <h4>Contact</h4>
        <p>Email : atiek1121@gmail.com </p>
    </div>
    <div class="col-md-2 left">
      <h4>Social presense</h4>
      <ul class="footer-share">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <p>© 2016 All rights reserved. All Rights Reserved<br>
        Made with <i class="fa fa-heart pulse"></i> by <a target="blank" href="http://www.designstub.com/">Designstub</a></p>
    </div>
  </div>
</footer>
<!-- footer section -->

<!-- JS FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://unpkg.com/minigrid@3.1.1/dist/minigrid.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/main.js"></script>
