<section id="portfolio" class="section portfolio photo-graphic">


  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("lightPeople.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>
  <h3 class="articleTitle"> 人を集める照明</h3>
  <p class="articleText">人を自然と集めるような温かい照明を作ろう。<br>秋葉原でLEDを買ってきた。</p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light1.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">良い感じの紙製の枠が転がっていたので使ってみた。<br>
    LEDに繋がっている配線を通すための穴を開ける。  </p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light2.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">枠の裏側にLEDを貼り付ける。</p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light3.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">枠の４方向全てにLEDを貼り付ける。</p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light4.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">LEDむき出しで明かりを灯すと光が強すぎて眼が疲れてしまう。<br>
    そこでLEDを覆うように乳白色のアクリル板を設置する。
  </p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light5.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light6.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">できた。</p>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("light7.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <p class="articleText">壁に掛けるのも良い。</p>
</section>
<!-- portfolio grid section -->

