<!DOCTYPE html>
<html>
<head>
  <title>Keita Matsushita Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source=asset_path("omoto.png"), options={}) %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="snow.js"></script>


  <meta property="og:title" content="Keita Matsushita Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://keita-matsushita.com/" />
  <meta property="og:image" content="<%= asset_path("ogp.png") %>" />
  <meta property="og:site_name" content="マツシタのポートフォリオサイト" />
  <meta property="og:description" content="マツシタの事を知ってほしい" />



  <script src="https://unpkg.com/minigrid@3.1.1/dist/minigrid.min.js"></script>

</head>
<body>
<section class="tophead" role="tophead">
  <!-- Navigation Section -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="/">KEITA MATSUSHITA</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/#header-slider">Home</a></li>
          <li><a href="/#services">Profile</a></li>
          <li><a href="/#portfolio">Product</a></li>
          <li><a href="/graphics">Graphic</a></li>
        </ul>
      </nav>

  </header>
  <!-- Navigation Section -->
</section>
<%= yield %>

</body>
</html>
